@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #15151a;
    font-family: "Roboto", sans-serif;
}

.suporte a {
    text-decoration: none;
    background: #FF6600;
    padding: 20px;
    border-radius: 30px;
    color: #f4f4f4;
}

.suporte {
    margin-top: 45px;
}

.logotipo img {
    /* width: 200px; */
    height: 107px;
}

section {
    width: 1200px;
    margin: 0 auto;
}

header .logotipo {
    float: left;
}

header .suporte {
    float: right;
}

.logotipo {
    background-color: #f4f4f4;
}

.menuitem a {
    text-decoration: none;
    color: #FF6600;
}

.menuitem li {
    display: inline-block;
    padding: 40px 20px;
    font-size: 30px;
    transition: 0.2s;
}

.menu,
.menuitem {
    display: inline;
}

.menu {
    margin: 0 50px;
}

.menuitem a:hover {
    color: #ff8d40;
    border-bottom: #FF6600 1px solid;
    padding-bottom: 15px;
    transition: 0.3s;
}

header {
    border-bottom: 1px solid #562b0f;
    z-index: 2;
    position: relative;

}

.hover {
    opacity: 1;
    transition: 0.3s;
}

.hover:hover {
    opacity: 0.7;
    transition: 0.3s;
}

.slider {
    background-image: url('../img/slider.png');
    height: 900px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: 1;
    top: -165px;
    position: relative;
    opacity: 0.6;
    background-position: center;
}

h1 {
    text-align: center;
    top: 150px;
    position: relative;
    font-size: 50px;
    color: #ff6600;
    z-index: 3;
}

.imagem img {
    height: 250px; 
}

/* .titulo h2 {
    font-size: 30px;
}

.titulo h2, .item {
    justify-content: center;
} */

.destaques .item {
    width: 15%;
    display: inline-block;
    margin: 0.5%;
    position: relative;
}

.destaques .imagem img {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.destaques .titulo {
    margin-top: 10px;
    font-size: 18px;
    color: #f4f4f4;
    position: absolute;
    background-image: linear-gradient(to top,#000,#ffffff00);
    bottom: 0;
    width: 100%;
    padding-bottom: 15px;
}

.titulo-categoria {
    color: #fff;
    font-size: 22px;
    text-align: center;
    padding: 20px;
    background: #3b3b3b;
    margin: 20px 0;
    border-radius: 15px;
}

.destaques {
    text-align: center;
}

.destaques a {
    text-decoration: none;
}

footer a {
    text-decoration: none;
    color: #FF6600;
    font-size: 22px;
}

footer {
    color: #FF6600;
    background: #000;
    padding: 50px 0;
    text-align: center;
    line-height: 40px;
    margin-top: 50px;
}

.col {
    width: 30%;
    display: inline-block;
}

.sociais li {
    display: inline-block;
}

footer i {
    font-size: 40px;
    padding: 5px;
}

.mostrar-mobile {
    display: none;
}

.esconder-mobile {
    display: block;
}

@media (max-width:979px) {
    .col {
        width: 100%;
        margin-bottom: 30px;
    }
    .mostrar-mobile {
        display: block;
    }
    .esconder-mobile {
        display: none;
    }
    section {
        width: 100%;
    }
    .destaques .item {
        width: 100%;
    }
    .destaques .imagem img {
        height: 480px;
    }
    .item {
        max-width: 350px;
        padding: 10px 0;
    }
    .destaques {
        text-align: center;
    }
    .dropdown{
        display: block;
        padding: 10px;
        text-align: center;
        width: calc(100%-20px);
        background-color: #15151a;
    }
    .dropdown a{
        color: #fff;
        line-height: 30px;
        text-decoration: none;
    }
    .dropdown i{
        font-size: 40px;
        display: inline;
        padding: 15px;
        margin-top: 40px;
        position: absolute;
    }
    .dropdown .dropdown-content{
        display: none;
    }
    .dropdown:hover .dropdown-content{
        display: block;
    }
    .menu-mobile img{
        width: 150px;
        background-color: #f4f4f4;
    }
    .slider {
        top: -205px;
    }
    .fa-bars {
        color: #f4f4f4;
    }
    .dropdown li {
        padding: 10px;
        font-size: 18px;
    }
    .destaques .titulo {
        margin-bottom: 12px;
    }

}

@media (min-width: 980px) and (max-width: 1199px) {
    .menu-mobile {
        display: none;
    }
    .esconder-mobile {
        display: block;
    }
    .col {
        width: 49%;
    }
    section {
        width: 100%;
    }
}